* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
input:focus {
  outline: none;
}
.container {
  & {
    background-color: #eee;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    margin: 50px auto;
  }
  > input {
    padding: 5px 10px;
    width: 100%;
    border: none;
  }
  > .button {
    & {
      display: flex;
      justify-content: space-between;
    }
    > span {
      padding: 10px;
      border-radius: 10px;
      background-color:#018888;
      color: white;
      cursor: pointer;
    }
  }
  .result {
    & {
      background-color: white;
      padding: 15px;
      border: 1px dashed #018888;
      text-align: center; 

      > span {
        color: #018888;
        font-weight: bold;
      }
    }
  }
}